#header{border:2px dotted #ff0000;height:60px;}
#leftSider{border:2px dotted #0000ff;}
#centerPanel{border:2px dotted #00ff00;height:60px;}
#rightSider{border:2px dotted #ff00ff;}
#footer{border:2px dotted #00ffff;height:60px;}